.products-list {
    position: relative;
    padding-bottom: 70px;

    &--grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 45px;
    }

    &__btn-more {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 85px;
    }
}