.menu {
    display: flex;  
    align-items: center;

    li {
        display: block;
        cursor: pointer;
        font-size: 18px;
        a {
            color: #5F5F5F;
            text-decoration: none;
        }
        &:not(:last-of-type) {
            margin-right: 45px;
        }
        &:hover {
            a {
                // text-decoration: underline;
                color: deepskyblue;
            }
        }
    }
}